/**
 * @name Twitter Lights Out Theme
 * @description Lights Out version of Twitter Theme by Zuzumi-f
 * @author zuzumi#8097, slippinggitty
 * @authorId 403725623161257984
 * @website https://github.com/SlippingGitty/Twiter-Theme-Lights-Out
 * @source https://zuzumi-f.github.io/Twiter-Theme-BD/base.css
 * @version AutoUpdate
*/

@import url("https://slippinggitty.github.io/TwitterLightsOutTheme.css");

/* Chnage Colors Here */
:root {
    --tw1: hsl(0, 0%, 0%);
    --tw2: hsl(203, 89%, 53%);
    --tw3: hsla(0, 0%, 0%, 0.69);
    --tw4: hsl(0, 0%, 0%);
    --tw5: hsl(0, 0%, 0%);
    --tw6: hsl(0, 0%, 0%);
    --tw1-hover: hsla(0, 0%, 100%, 0.031);
    --tw2-hover: hsla(203, 89%, 53%, 0.145);
    --tw3-hover: hsl(206, 16%, 26%);
    --tw4-hover: hsla(203, 89%, 53%, 0.22);
    --tw5-hover: hsl(203, 79%, 48%);
    --tw6-hover: hsla(203, 79%, 48%, 0.337);
    --tw7-hover: hsla(0, 0%, 100%, 0.07);
    --tw-red-hover: hsla(341, 75%, 51%, 0.145);
    --tw-green: hsl(147, 79%, 42%);
    --tw-red: hsl(341, 75%, 51%);
}

/* Version CSS by _david_ [NO TOUCH] */
:root {
    --AutoUpdate: none;
}

/*----------------------------------------------------
                anything else down here
------------------------------------------------------*/
